.loginwrapper{
    width: 400px;
    margin: auto;
}

.usertext{
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

.welcome{
    font-size: 34px;
    text-align: center;
    padding-bottom: 10px;
}
.canvas{
    border: 1px solid #333333;
}
.whiteboardlist{
    max-height: 600px;
    overflow-y: scroll;
}
.whiteboardsidebar{
    margin-top: 56px;
}
.whiteboardsidebarlist{
    max-height: 250px;
    overflow-y: scroll;
}
.panelnobottom{
    margin-bottom: 0px !important;
}

