.bodywrapper{
    width: 1024px;
    margin: auto;
}

.loginwrapper{
    width: 400px;
    margin: auto;
}
.maincontent{
}


.usertext{
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

.welcome{
    font-size: 34px;
    text-align: center;
    padding-bottom: 10px;
}