    <div class="welcome">Willkommen zur Shared Whiteboard App</div>

    <div class="panel panel-default loginwrapper logincenter">
        <div class="panel-heading">
            <h3 class="panel-title">Anmelden</h3>
        </div>
        <div class="panel-body">
            <div ng-show="error" class="alert alert-danger">{{error}}</div>
            <form class="login" name="form" ng-submit="login()" role="form">
                <div class="form-group">
                    <label for="username">Benutzername</label>
                    <span class="glyphicon glyphicon-user"></span>
                    <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required />
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Benutzername wird benötigt</span>
                </div>
                <div class="form-group">
                    <label for="password">Passwort</label>
                    <span class="glyphicon glyphicon-lock"></span>
                    <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Passwort wird benötigt</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Anmelden</button>
                    <label class="small">Noch keinen Account? </label> <button class="btn btn-sm btn-link" type="button" ng-click="register()" >Hier registrieren </button>
                </div>
            </form>
        </div>
    </div>