<div class="row">
    <div class="col-md-9" style="min-width: 800px;">
        <div class="row">
            <div class="col-md-3 h3">{{ whiteboardname }}</div>
            <div class="col-md-9">
                <div class="btn-group">
                    <button type="button" ng-click="selectTool(tool)" class="toolbar-button btn btn-default" ng-class="{'active' : tool === tooling}" ng-repeat="tool in tools">
                        <div ng-class="tool.css"></div>
                    </button>
                    <a ng-href="{{downloadLink}}" download="{{whiteboardname}}" ng-click="saveCanvas()" class="btn btn-default" ><span class="glyphicon glyphicon-download"></span></a>
                </div>
                            </div>
        </div>
        <input id="drawText" type="text" class="shadowInput"  />
        <canvas width="800" height="500" class="canvas" id="canvas" drawing="tooling"></canvas>
    </div>
    <div class="col-md-3 whiteboardsidebar"  ng-controller="WhiteboardSidebarController" >
        <div class="panel panel-default panelnobottom" >
            <div class="panel-heading">
                <h3 class="panel-title">Aktivitäten:</h3>
            </div>
            <div class="panel-body sidebarpanelbody" >
                <ul class="list-group whiteboardsidebarlist">
                    <li class="list-group-item custom-sidebar-item" ng-repeat="log in whiteboardlog">
                        {{log.forHTML}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default panelnobottom">
            <div class="panel-heading">
                <h3 class="panel-title">Nutzer Online:</h3>
            </div>
            <div class="panel-body sidebarpanelbody">
                <ul class="list-group whiteboardsidebarlist">
                    <li class="list-group-item" ng-class="{'list-group-item-success' : collab.online}" ng-repeat="collab in collaborators">
                        {{collab.name}}<div class="pull-right"><span ng-class="{'glyphicon glyphicon-star-empty' : collab.owner}"></span> <span ng-class="{'glyphicon glyphicon-eye-open': collab.join }" ></span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
