<div class="row">
    <div class="col-md-2 h4">Alle Whiteboards</div>
    <div class="col-md-5"> <input type="text" class="form-control" ng-model="search" placeholder="Search"></div>
    <div class=" col-md-3 checkbox">
        <label>
            <input type="checkbox" ng-model="myown"> Nur eigene Anzeigen
        </label>
    </div>
    <div class="col-md-2"><button type="button" class="btn btn-primary" ng-click="addWhiteboard()"><span class="glyphicon glyphicon-plus-sign"></span> Add Whiteboard</button></div>
</div>

<div ng-repeat="whiteboard in whiteboards | filter:search">
    <div class="list-group">
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">...</p>
            {{whiteboard.name}}
        </a>
    </div>
</div>