<div class="row">
    <div class="col-md-2 h4">Alle Whiteboards</div>
    <div class="col-md-5"> <input type="text" class="form-control" ng-model="search" placeholder="Search"></div>
    <div class=" col-md-3 checkbox">
        <label>
            <input type="checkbox" ng-model="myown"> Nur eigene Anzeigen
        </label>
    </div>
    <div class="col-md-2"><button type="button" class="btn btn-primary" ng-click="addWhiteboard()"><span class="glyphicon glyphicon-plus-sign"></span> Whiteboard erstellen</button></div>
</div>

<div class="list-group">
    <div ng-repeat="whiteboard in whiteboards | filter:search">
        <a ng-href="#/whiteboard/{{whiteboard.id}}" class="list-group-item" ng-hide="myown && currentUser !== whiteboard.owner">
            <h4 class="list-group-item-heading">{{whiteboard.name}}</h4>
            <div ng-repeat="user in whiteboard.collaborators">

                {{user.name}}
            </div>
        </a>
    </div>
</div>