<div class="modal-header">
    <h3 class="modal-title">Neues Whiteboard erstellen</h3>
</div>
<form  name="form" role="form">
    <div class="modal-body loginwrapper">
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <div class="form-group">
            <label for="name">Whiteboard Name</label>
            <span class="glyphicon glyphicon-user"></span>
            <input type="text" name="name" id="name" class="form-control" ng-model="whiteboardname.name" required />
            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Whiteboard Name wird benötigt</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" ng-click="addWhiteboard()" ng-disabled="form.$invalid" class="btn btn-primary">Whiteboard erstellen</button>
        <button class="btn btn-warning" ng-click="cancel()">Abbrechen</button>
    </div>
</form>